.split-option {
    min-width: 120px;
    background-color: #e6f3ff;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1.1rem;
}

.split-option:hover {
    background-color: #cce7ff;
    color: #000;
}

#splitModal .modal-content {
    background-color: #f8f9fa;
    border-radius: 8px;
}

#splitModal .modal-header {
    border-bottom: none;
} 