@model Chapeau.ViewModels.PaymentDetailsViewModel

<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="paymentModalLabel">Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="total-amount mb-4">
                    <span class="h4">Total: </span>
                    <span class="h4" id="toPayFinalDisplay">@Model.FormattedLeftToPay</span>
                </div>
                <div class="total-amount mb-4">
                    <span class="h4">Tip: </span>
                    <span class="h4" id="tipDisplay">€0.00</span>
                </div>
                @await Html.PartialAsync("_TipSection", Model)

                <!-- Cash Section -->
                <div id="cashSection" class="payment-type-section mb-4 d-none">
                    <p>Enter the given cash amount:</p>
                    <div class="amount-input mb-4">
                        <input type="number" id="cashAmount" class="form-control text-center" placeholder="e.g. 50,00" />
                    </div>
                    <div class="change-section mb-4">
                        <div class="change-display p-3">
                            <p class="mb-2" id="changeAmount">Change: €0,00</p>
                        </div>
                    </div>
                </div>

                <!-- Card Section -->
                <div id="cardSection" class="payment-type-section mb-4 d-none">
                    <div class="card-payment-section mb-4">
                        <p>Please follow the instructions on the payment terminal</p>
                    </div>
                </div>

                <!-- Gift Card Section -->
                <div id="giftCardSection" class="payment-type-section mb-4 d-none">
                    <div class="gift-card-section mb-4">
                        <p>Enter gift card number:</p>
                        <div class="gift-card-input mb-4">
                            <input type="text" id="giftCardNumber" class="form-control text-center" placeholder="Enter gift card number" />
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("_FeedbackSection", Model)
                <div class="finish-section">
                    <button id="finishPaymentButton" class="btn btn-success">Finish</button>
                </div>
            </div>
        </div>
    </div>
</div> 