@{
	var isKitchen = Context.Request.Query["menu_card"] != "Drinks";
	var isBar = Context.Request.Query["menu_card"] == "Drinks";
}

<ul class="nav nav-tabs custom-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link btn btn-outline-dark me-2 @(isKitchen ? "active" : "")" asp-action="Index">Kitchen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-dark me-2 @(isBar ? "active" : "")" asp-action="Index">Bar</a>
    </li>
</ul>