@model List<Chapeau.Models.DisplayOrder>

@foreach (var order in Model)
{
    <div class="col-md-4">
        <div class="card-body d-flex flex-column order-card">
            @await Html.PartialAsync("_OrderCard", order)
        </div>
    </div>
}