@{
    var status = Context.Request.Query["status"].ToString();
}
<ul class="nav nav-tabs custom-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link @(status == "Preparing,Ordered,Served" ? "active" : "")"
           asp-action="Index" asp-route-status="Preparing,Ordered,Served">
            All orders
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(status == "Preparing,Ordered" ? "active" : "")"
           asp-action="Index" asp-route-status="Preparing,Ordered">
            Active
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(status == "Served" ? "active" : "")"
           asp-action="Index" asp-route-status="Served">
            Completed
        </a>
    </li>
</ul>
