@model Chapeau.ViewModels.PaymentDetailsViewModel

<div class="tip-section mb-4 d-flex align-items-center gap-4">
    <label for="tipInputSimple" class="form-label mb-0 fs-2 fw-normal">Tip</label>
    <input type="number" id="tipInputSimple" class="form-control form-control-lg text-center" style="max-width: 8rem;" autocomplete="off" />
    <button type="button" class="tip-type-btn-simple btn btn-primary rounded-4 d-flex align-items-center justify-content-center fs-3 px-0" style="width: 3rem; height: 3rem;">%</button>
    <button type="button" class="tip-type-btn-simple btn btn-primary rounded-4 d-flex align-items-center justify-content-center fs-3 px-0" style="width: 3rem; height: 3rem;">€</button>
</div> 