@model List<Chapeau.Models.MenuItem>;

@{
}

<div>
    @{
        foreach (MenuItem menuItem in Model)
        {
            string stockStyling = "";

            if (menuItem.Stock == 0)
            {
                stockStyling = "bg-secondary";
            }
            else if (menuItem.Stock > 0 && menuItem.Stock <= 10)
            {
                stockStyling = "bg-warning";
            }

            <div class="MenuCourseCategory @stockStyling">
                <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index"> @menuItem.Name </a>
                <p> &euro; @menuItem.Price </p>
            </div>
        }
    }

</div>
